/* Path: frontend/src/components/newCollections/NewCollections.css */
.new-collections {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  height: auto;
  gap: var(--spacing-3);
}

.new-collections-title {
  color: var(--color-text-primary);
  font-size: var(--font-size-5xl);
  font-weight: var(--font-weight-semibold);
  text-align: center;
}

.new-collections-divider {
  width: 12.5rem;
  height: 0.37rem;
  border-radius: var(--border-radius-md);
  background-color: var(--color-text-primary);
}

.new-collections-grid {
  margin-top: var(--spacing-12);
  display: flex;
  gap: var(--spacing-8);
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/* Media Queries */
@media (max-width: 1199.98px) {
  .new-collections-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 991.98px) {
  .new-collections-title {
    font-size: var(--font-size-4xl);
  }
}

@media (max-width: 767.98px) {
  .new-collections-grid {
    gap: var(--spacing-6);
  }

  .new-collections-title {
    font-size: var(--font-size-3xl);
  }

  .new-collections-divider {
    width: 10rem;
  }
}

@media (max-width: 575.98px) {
  .new-collections-grid {
    grid-template-columns: 1fr;
  }

  .new-collections-title {
    font-size: var(--font-size-2xl);
  }

  .new-collections-divider {
    width: 8rem;
  }
}
