/* Path: admin/src/index.css */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}
