node_modules/
.env*
*.env*
*.env_backups
server.js.bak
secrets
deploy.sh
dev-docker.sh
update1-admin.sh
update2-backend.sh
update3-frontend.sh
*.pid
*.pem
*.pfx
*.crt
*.key
*.csr
*.cnf
.cursorrules
backups
