node_modules/
.env*
*.env*
*.env_backups
server.js.bak
secrets
local-dev.sh
deploy.sh
*.sh
local-dev*
docker-compose.dev.yml
docker-compose.yml
*.log
*.pid
*.pem
*.pfx
*.crt
*.key
*.csr
*.cnf
.cursorrules