/* Path: frontend/src/components/descriptionBox/DescriptionBox.css */
.custom-description-box {
  width: 80%;
  margin: 0 auto 3rem;
}

.custom-navigator {
  display: flex;
}

.custom-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  width: 10.7rem;
  height: 4.375rem;
  border: 1px solid #e0e0e0;
}

.custom-nav-item.custom-fade {
  background-color: #e0e0e0;
  color: #555;
}

.custom-description-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 1px solid #e0e0e0;
  padding: 3rem;
  padding-bottom: 4.375rem;
}
