/* Path: frontend/src/components/offers/Offers.css */
.offers {
  background: linear-gradient(180deg, #fce6ff 0%, #e1ffea22 60%);
  display: flex;
  min-height: 60vh;
  height: auto;
  width: 90%;
  max-width: 1200px;
  padding: 2rem;
  margin: auto;
  margin-bottom: 4rem;
  border-radius: 1.25rem;
}

.offers-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offers-title {
  color: #171717;
  font-size: 5em;
  font-weight: 600;
}

.offers-subtitle {
  color: #171717;
  font-size: 1.4em;
  font-weight: 600;
}

.offers-cta-button {
  width: 20rem;
  height: 4.5rem;
  border-radius: 4.7rem;
  background: #ff6e6e;
  border: none;
  color: white;
  font-size: 1.4em;
  font-weight: 500;
  margin-top: 1.9em;
  cursor: pointer;
}

.offers-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 50px;
}

.offers-image {
  max-width: 100%;
  height: auto;
}

/* Media Queries */
@media (max-width: 1199.98px) {
  .offers-title {
    font-size: 4em;
  }

  .offers-cta-button {
    width: 16rem;
    height: 3.5rem;
    font-size: 1.2em;
  }
}

@media (max-width: 991.98px) {
  .offers-title {
    font-size: 3em;
  }

  .offers-subtitle {
    font-size: 1.2em;
  }

  .offers-cta-button {
    width: 14rem;
    height: 3rem;
    font-size: 1em;
  }
}

@media (max-width: 767.98px) {
  .offers {
    flex-direction: column;
    padding: 2rem;
    width: 85%;
  }

  .offers-left {
    align-items: center;
    text-align: center;
  }

  .offers-title {
    font-size: 2.5em;
  }

  .offers-right {
    justify-content: center;
    margin-top: 2rem;
  }
}

@media (max-width: 575.98px) {
  .offers {
    width: 90%;
  }

  .offers-title {
    font-size: 2em;
  }

  .offers-subtitle {
    font-size: 1em;
  }

  .offers-cta-button {
    width: 12rem;
    height: 2.5rem;
  }
}
