/* Path: frontend/src/components/shop/Shop.css */
.shop-container {
  background: linear-gradient(180deg, #fce6ff 0%, #e1ffea22 60%);
  display: flex;
  min-height: 30vh;
  justify-content: space-around;
  padding-top: var(--spacing-8);
  padding-bottom: var(--spacing-8);
  border-radius: 2rem;
}

.shop-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shop-title-text {
  color: #171717;
  font-size: 5em;
  font-weight: 600;
}

.shop-subtitle-text {
  color: #171717;
  font-size: 1.4em;
  font-weight: 600;
}

.shop-cta-button {
  width: 20rem;
  height: 4.5rem;
  border-radius: 4.7rem;
  background: #ff6e6e;
  border: none;
  color: white;
  font-size: 1.4em;
  font-weight: 500;
  margin-top: 1.9em;
  cursor: pointer;
}

.shop-section-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.shop-product-image {
  max-width: 100%;
  height: auto;
}

/* Media Queries */
@media (max-width: 1199.98px) {
  .shop-container {
    min-height: 20vh;
  }

  .shop-title-text {
    font-size: 4em;
  }

  .shop-cta-button {
    width: 16rem;
    height: 3.5rem;
    font-size: 1.2em;
  }
}

@media (max-width: 991.98px) {
  .shop-title-text {
    font-size: 3em;
  }

  .shop-subtitle-text {
    font-size: 1.2em;
  }

  .shop-cta-button {
    width: 14rem;
    height: 3rem;
    font-size: 1em;
  }
}

@media (max-width: 767.98px) {
  .shop-container {
    flex-direction: column;
    padding: 2rem;
    width: 85%;
  }

  .shop-section-left {
    align-items: center;
    text-align: center;
  }

  .shop-title-text {
    font-size: 2.5em;
  }

  .shop-section-right {
    justify-content: center;
  }
}

@media (max-width: 575.98px) {
  .shop-container {
    width: 90%;
  }

  .shop-title-text {
    font-size: 2em;
  }

  .shop-subtitle-text {
    font-size: 1em;
  }

  .shop-cta-button {
    width: 12rem;
    height: 2.5rem;
  }
}
