/* Path: frontend/src/components/popular/Popular.css */
.popular-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  height: auto;
  gap: 0.6rem;
  padding: 3rem 1rem;
}

.popular-container h1 {
  color: #171717;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.popular-container hr {
  width: 12.5rem;
  height: 0.37rem;
  border-radius: 0.65rem;
  background-color: #171717;
}

.popular-items {
  margin-top: 3.15rem;
  display: flex;
  gap: 1.9rem;
  flex-wrap: wrap;
  justify-content: center;
}

/* Media Queries */
@media (max-width: 991.98px) {
  .popular-container h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 767.98px) {
  .popular-container h1 {
    font-size: 2rem;
  }

  .popular-container hr {
    width: 10rem;
  }

  .popular-items {
    gap: 1.5rem;
  }
}

@media (max-width: 575.98px) {
  .popular-container h1 {
    font-size: 1.8rem;
  }

  .popular-container hr {
    width: 8rem;
  }
}
